.NoteContent {
    padding: 20px;
    width: 1000px;
}

.NoteDetails {
    margin-bottom: 10px;
}

.NewNote {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NewNote .Buttons {
    padding-top: 20px;
    padding-bottom: 10px;
}

.NewNote .Buttons .DropdownButton {
    padding-right: 10px;
}

.ExpirationContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}